%div
  %label コメント一覧
  .row.col-sm-12
    %table{id: "comments-#{question.id}-#{answer.id unless answer.nil?}", class: "table table-condensed"}
      = render parent.comments, { question: question, answer: answer }

  .row.col-sm-12
    = link_to "コメントを追加する", comments_path_new(question, answer), remote: true, class: ""

.modal.fade{id: "comment-modal"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ data: { dismiss: "modal"} } ×
        %h4{class: "modal-title"}コメントを入力してください
      .modal-body{id: "comment-modal-body"}
      .modal-footer
        %button.btn.btn-default{ data: { dismiss: "modal"} }Close
