.vote-arrow-style {
  position: relative;
  left: 5px;
}
.qa_info {
  font-size: smaller;
  color: dimgray;
}
.status {
  text-align: center;
  width: 50px;
}
.answered {
  background-color: #75845c;
  color: white;
}
.mini-count-label {
  font-size: smaller;
}
.approved {
  border: 3px solid lightgreen;
}
.badge-bronze {
  color: #c96f10;
}
.badge-silver {
  color: #b1cdce;
}
.badge-gold {
  color: #f7c120;
}
